body{
background:#FFFFFF;
}
.white li i{
color:#fff;
}
.logo a{
text-decoration:none;
font-size:20px;
}
.header {
background: none repeat scroll 0% 0% #FFFFFF;
color:#03535;
}
.header .fa {
color:#6d0f65;
}
.social-icons {
list-style: none;
padding: 10px 0;
margin-bottom: 0;
}
.social-icons a {
display: inline-block;
background: #95b6d1;
width: 32px;
height: 32px;
text-align: center;
padding-top: 4px;
border-radius: 50%;
font-size: 18px;
margin-right: 10px;
float:left;

}
.header .social-icons a .fa:before {
font-size: 18px;
text-align: center;
padding: 0;
}
.social-icons a .fa:before {
font-size: 18px;
text-align: center;
padding: 0;
}
.header .header-main {
  padding: 10px 0;
}
.header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
}
.header .menu-top {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  float: right;
}
.menu-top{
line-height:20px;;
}
.header .menu-top li {
  list-style: none;
  float: left;
  font-size: 11px;
  font-family: 'open sans', arial, sans-serif;
  color:#fff;
}
.header .menu-top li:last-child a {
  padding-right: 0;
}
.header .menu-top li.divider a {
  border-right: 1px solid #c3c3c3;
}
.header .menu-top li a {
  display: inline-block;
  color: #6d0f65;
  padding: 0px 10px;
}
.header .menu-top li a:hover {
  color: #ffffff;
}
.header .contact {
  font-size: 20px;
  font-family: 'open sans', arial, sans-serif;
  font-weight: 300;
  margin-top: 10px;
  line-height:50px;
}
.header .contact p {
  float: left;
  margin-bottom: 0;
  font-size:13px;
}
.header .contact p.phone {
  margin-right: 30px;
}
.header .contact p a {
  color: #444444;
}
.header .contact .fa {
  color: #6d0f65;
  margin-right: 8px;
  font-size: 18px;
  position: relative;
  top: 1px;
}
.header .contact .fa.fa-phone {
  font-size: 22px;
  top: 2px;
}
.header .search-form {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.header .search-form .form-control {
  width: 260px;
  background: #f5f5f5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header .search-form .form-control:focus {
  background: #fff;
  border-color: #6091ba;
}
.main-nav {
  background: #486aaa;
  margin-bottom: 10px;
}
.main-nav button {
  background: #27435a;
  color: #fff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.main-nav button:focus {
  outline: none;
}
.main-nav button .icon-bar {
  background-color: #fff;
}
.main-nav .navbar-collapse {
  padding: 0;
}
.main-nav .nav .nav-item {
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'open sans', arial, sans-serif;
  z-index: 100;
}
.main-nav .nav .nav-item a {
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.main-nav .nav .nav-item a:hover {
  background: #1e3d78;
  color: #fff;
}
.main-nav .nav .nav-item.active {
  position: relative;
}
.main-nav .nav .nav-item.active > a {
  background: #1e3d78;
  color: #fff;
}
.main-nav .nav .nav-item.active > a:before {
  content: "\f0d8";
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  width: 100%;
}
.main-nav .nav .nav-item.active > a.dropdown-toggle:before {
  display: none;
}
.main-nav .nav .nav-item.open a {
  background: #1e3d78;
  color: #fff;
}
.main-nav .nav .nav-item .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  padding: 0;
  text-transform: none;
  min-width: 220px;
}
.main-nav .nav .nav-item .dropdown-menu a {
  border-bottom: 1px solid #FFFFFF;
  padding: 8px 20px;
}
.main-nav .nav .nav-item .dropdown-menu a:hover {
  background: #486aaa;
  color: #fff;
  padding-left: 24px;
}
.btn-theme {
  background: #6091ba;
  border: 1px solid #6091ba;
  color: #fff;
}
.btn-theme:hover {
  background: #84aac9;
  border: 1px solid #84aac9;
  color: #fff;
}
.demo_wrapper {
	width: 100%;
	margin: 0 auto;
}
@media only screen and (max-device-width: 800px), screen and (max-width: 800px) {
  .demo_wrapper {
    width: 80%;
  }  
}
.demo_block {
	width: 100%;
}
.bg-voilet{

}
.bg-pink{


}
.ad{
margin-top:10px;
}
.ad img{
width:100%;
}
.content h2{
font-size:22px;
}
.img1 img{
width:100%;
height:100px;
}
.top{
margin-top:10px;

}
.services-1 {
	padding: 40px 15px 40px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #0cadbe;
	text-align: center;
    -moz-box-shadow:    1px 3px 5px 1px #eeeeee;
    -webkit-box-shadow: 1px 3px 5px 1px #eeeeee;
    box-shadow:         1px 3px 5px 1px #eeeeee;	
}
.holder i{
font-size:50px;
}
.services-1 img {
	margin: auto;
}

.services-1 h4 {
	color: #FFFFFF;
	font-weight: normal;
}

.services-1 p {
	color: #FFFFFF;
}

.services-1 .holder {
	width: 114px;
	height: 114px;
	background: #f5f5f5;
	color: #0059B3;
	margin: 0 auto;
	line-height: 114px;
	border-radius: 60%;
}
.services-1, .services-1 h4, .services-1 p, .services-1 .holder   {
 	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;	
}
.services-1:hover {
	background: #FF5C26;
}

.services-1:hover p {
	color: #fff;
}

.services-1:hover h4 {
	color: #fff;
	text-shadow: 0.1px 0.1px 1px #fff;
}

.services-1:hover .holder {
	background: #fff;
	color: #0cadbe;
}




.services-2 {
	padding: 40px 15px 40px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #FF4C4C;
	text-align: center;
    -moz-box-shadow:    1px 3px 5px 1px #eeeeee;
    -webkit-box-shadow: 1px 3px 5px 1px #eeeeee;
    box-shadow:         1px 3px 5px 1px #eeeeee;	
}
.holder i{
font-size:50px;
}
.services-2 img {
	margin: auto;
}

.services-2 h4 {
	color: #FFFFFF;
	font-weight: normal;
}

.services-2 p {
	color: #FFFFFF;
}

.services-2 .holder {
	width: 114px;
	height: 114px;
	background: #f5f5f5;
	color: #0059B3;
	margin: 0 auto;
	line-height: 114px;
	padding-top: 15px;
	border-radius: 60%;
}
.services-2, .services-2 h4, .services-2 p, .services-2 .holder   {
 	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;	
}
.services-2:hover {
	background: #FF5C26;
}

.services-2:hover p {
	color: #fff;
}

.services-2:hover h4 {
	color: #fff;
	text-shadow: 0.1px 0.1px 1px #fff;
}

.services-2:hover .holder {
	background: #fff;
	color: #0cadbe;
}


.services-3 {
	padding: 40px 15px 40px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #0cadbe;
	text-align: center;
    -moz-box-shadow:    1px 3px 5px 1px #eeeeee;
    -webkit-box-shadow: 1px 3px 5px 1px #eeeeee;
    box-shadow:         1px 3px 5px 1px #eeeeee;	
}
.holder i{
font-size:50px;
}
.services-3 img {
	margin: auto;
}

.services-3 h4 {
	color: #FFFFFF;
	font-weight: normal;
}

.services-3 p {
	color: #FFFFFF;
}

.services-3 .holder {
	width: 114px;
	height: 114px;
	background: #FFFFF2;
	color: #0059B3;
	margin: 0 auto;
	line-height: 114px;
	padding-top: 15px;
	border-radius: 60%;
}
.services-3, .services-3 h4, .services-3 p, .services-3 .holder   {
 	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;	
}
.services-3:hover {
	background: #FF5C26;
}

.services-3:hover p {
	color: #fff;
}

.services-3:hover h4 {
	color: #fff;
	text-shadow: 0.1px 0.1px 1px #fff;
}

.services-3:hover .holder {
	background: #fff;
	color: #0cadbe;
}


.services-4 {
	padding: 40px 15px 40px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #FF4C4C;
	text-align: center;
    -moz-box-shadow:    1px 3px 5px 1px #eeeeee;
    -webkit-box-shadow: 1px 3px 5px 1px #eeeeee;
    box-shadow:         1px 3px 5px 1px #eeeeee;	
}
.holder i{
font-size:50px;
}
.services-4 img {
	margin: auto;
}

.services-4 h4 {
	color: #FFFFFF;
	font-weight: normal;
}

.services-4 p {
	color: #FFFFFF;
}

.services-4 .holder {
	width: 114px;
	height: 114px;
	background: #f5f5f5;
	color: #0059B3;
	margin: 0 auto;
	line-height: 114px;
	padding-top: 15px;
	border-radius: 60%;
}
.services-4, .services-4 h4, .services-4 p, .services-4 .holder   {
 	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;	
}
.services-4:hover {
	background: #FF5C26;
}

.services-4:hover p {
	color: #fff;
}

.services-4:hover h4 {
	color: #fff;
	text-shadow: 0.1px 0.1px 1px #fff;
}

.services-4:hover .holder {
	background: #fff;
	color: #0cadbe;
}


.welcome{
margin-top:10px;
}
.welcome h2{
font-size:20px;
font-weight:bold;
}
.welcome p{
text-align:center;
}
.box-style-1{
	padding:30px 30px 10px 30px;  
	background: #eaf9ff; 
	box-shadow: inset 0 0 0 5px rgba(200, 200, 200, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.35); 
	-webkit-box-shadow: inset 0 0 0 5px rgba(200, 200, 200, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.35); 
	-moz-box-shadow: inset 0 0 0 5px rgba(200, 200, 200, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.35); 
	border:1px solid #fff; 
	margin-bottom:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#2e415c;
	position:relative;
}
.box-style-1.ribbon{
	background: #eaf9ff url(../img/.html) no-repeat top right;
}
.feat {
	padding-left:60px;
	position:relative;
	margin-bottom:20px;
}
.feat.last {
	margin-bottom:0px;
}
.feat i {
	color:#F66;
	left:0; 
	position:absolute;
	font-size:40px;
}
.feat h3{
	text-shadow: 1px 2px 0px rgba(255,255,255,1);
	font-size:18px;
}
hr.double {
  margin: 10px 0 20px 0;
  border: 0;
  border-top: 1px solid #cedee7;
  border-bottom: 1px solid #ffffff;
}
.facility h3{
font-size:18px;
text-align:center;
}
.reading img{
width:60%;
}
.demo3 {
font-family: Arial, sans-serif;
border: 1px solid #486aaa;
font-style: italic;
position: relative;
padding: 0 0 0 100px;
box-shadow: 0 2px 5px -3px #000;
border-radius: 3px;
}
.demo3:before {
content: "Latest News";
display: inline-block;
font-style: normal;
background: #486aaa;
padding: 10px;
color: #FFF;
font-weight: bold;
position: absolute;
top: 0;
left: 0;
}
.demo3:after {
content: '';
display: block;
top: 0;
left: 80px;
background: linear-gradient(#FFF, rgba(255, 255, 255, 0));
height: 20px;
}
.demo3 ul li {
list-style: none;
padding: 10px 0 2px 0;
}
.carousel h3{
font-size:18px;
font-weight:bold;
}
.btn-inline {
	color: #b6124a;
font-size: 16px; 
font-weight: 600;
	}
ul, .list.custom-list ul {
margin: 0 0 11px;
list-style-type: none;
padding-left:10px;
}
.list.custom-list ul li {
margin: 0;
padding: 4px 0 5px 30px;
border-top: 1px solid #f2f2f2;
position: relative;
background: url(../img/arrow.png) no-repeat 0 11px;
}

.list.custom-list ul li a {
font: 14px/1.2em 'Roboto', sans-serif;
color: #b6124a;
text-transform: none;
display: inline;
position: relative;
}
.title-box_primary{
font-size:18px;
font-weight:bold;
}

.footer2 {
	background: #222;
	color: #aaa;
	font-size: 12px;
	margin-top:10px;
	padding-top:20px;
}
.footer2 a {
	color: #aaa;
}
.footer2 a:hover {
	color: #fff;
}
.footer2 p {
	margin: 0;
}
.panel-simplenav {
	margin-left: -5px;
}
.panel-simplenav a {
	margin: 0 5px;
}
.panel{
background:#222222;
}
.content{
border:1px solid #888888;
}
.thumbnail {
position: relative;
margin: 0;
border-radius: 0;
box-shadow: none;
border: none;
padding: 0;
background: none;
margin-top:10px;
}
.thumbnail img{
width:100%;
}
.thumbnail time{
background: #b6124a;
padding: 5px 0;
display: block;
text-indent: 12px;
color: #fff;
font-size:16px;
font-weight:bold;
text-align:center;
}
.thumbnail .caption {
padding: 9px;
color: #131304;
background: #ECECFB;
}
.thumbnail .caption:hover {
padding: 9px;
color: #000000;
background: #DFDFD0;
}
.thumbnail .caption a {
font: 20px;
}
.activity h3{
font-size:18px;
font-weight:bold;
}
.activity p{
text-align:center;
}
.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}
.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}
.demo1,.panel-body{
background:#fff;
}
.footer{
background:#1e3d78;
margin-top:10px;
}
.footer h3{
color:#fff;
font-size:16px;
font-weight:bold;
border-bottom:1px solid #FFFFFF;
/* padding:5px; */
}
.contact_foot p i{
font-size:14px;
}
.contact_foot h4{
color:#fff;
}
.footer p a{
color:#fff;
}
.footer p{
color:#fff;
}
.footer ul li{
list-style:none;
float:left;
padding:5px;
}
.footer i{
font-size:30px;
color:#FFFFFF;
}
.footer1{
padding-top:10px;
background:#486aaa;
}
.footer1 p{
color:#fff;
}
.footer1 p a{
color:#fff;
}
.home i{
font-size:14px;
}
.logo{
margin:0px auto;
}
.logo img{
width:80%;
}
.lgname a{
text-decoration:none;
font-weight:600;
font-size:36px;
color:#486aaa;
}
.header1{
font-size:23px;font-weight:bold;
}
.header2{
font-size:15px;font-weight:bold;
}
.header3{
font-size:14px;font-weight:bold;
}
@media (min-width: 480px) and (max-width: 767px){
	.lgname a{
		font-weight:600;
		font-size:20px;
		color:#4D0066;
	}
	.demo3 {
		font-family: Arial, sans-serif;
		border: 1px solid #C20;
		font-style: italic;
		position: relative;
		padding: 0 0 0 120px;
		box-shadow: 0 2px 5px -3px #000;
		border-radius: 3px;
	}
	.demo3:before {
		content: "Latest News";
		display: inline-block;
		font-style: normal;
		background: #C20;
		padding: 20px;
		color: #FFF;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: 0;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.lgname a{
		font-weight:600;
		font-size:18px;
		color:#4D0066;
		line-height:none;
	}
	.header .contact {
	  font-size: 20px;
	  font-family: 'open sans', arial, sans-serif;
	  font-weight: 300;
	  margin-top: -10px;
	  line-height:50px;
	}
}
@media (min-width: 360px) and (max-width: 480px){
	.lgname a{
		font-weight:700;
		font-size:17px;
		color:#4D0066;
	}
	.header1{
	font-size:13px;
	}
	.header2{
	display:none;
	}
	.header3{
	display:none;
	}

	.demo3 {
		font-family: Arial, sans-serif;
		border: 1px solid #C20;
		font-style: italic;
		position: relative;
		padding: 0 0 0 130px;
		box-shadow: 0 2px 5px -3px #000;
		border-radius: 3px;
	}
	.demo3:before {
		content: "Latest News";
		display: inline-block;
		font-style: normal;
		background: #C20;
		padding: 20px;
		color: #FFF;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.modal-header button{
font-size:40px;
margin-bottom:10px;
}
.category li{
list-style:none;
float:left;
padding:10px;
}
.category a{
font-size:16px;
text-decoration:none;
color:#000000;
font-weight:bold;
}
.gallery h2{
font-size:22px;
font-weight:bold;
}
.video{
font-size:22px;
font-weight:bold;
}
.section-title{
font-size:20px;
font-weight:bold;
}
.maincontent h3{
font-size:20px;
font-weight:bold;

}
/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

/* calendar style here */
.picker-container {
  position: absolute;
  z-index: 99;
}


.cal {
  background-color: white;
  display: block;
  width: 216px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
  border-spacing: 0;
}

.cal a {
  text-decoration: none;
}

.cal tr, .cal th, .cal td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.cal caption {
  line-height: 32px;
  font-weight: bold;
  color: #e2e2e2;
  text-align: center;
  text-shadow: 0 -1px black;
  background: #333;
  //background: rgba(0, 0, 0, 0.35);
  border-top: 1px solid #333;
  border-bottom: 1px solid #313131;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
}
.cal caption a {
  display: block;
  line-height: 32px;
  padding: 0 10px;
  font-size: 15px;
  color: #e2e2e2;
}
.cal caption a:hover {
  color: white;
}
.cal caption .prev {
  float: left;
}
.cal caption .next {
  float: right;
}
.cal th, .cal td {
  width: 30px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.cal th:first-child, .cal td:first-child {
  border-left: 0;
}
.cal th {
  line-height: 20px;
  font-size: 8px;
  color: #696969;
  text-transform: uppercase;
  background: #f3f3f3;
  border-left: 1px solid #f3f3f3;
}
.cal td {
  font-size: 11px;
  font-weight: bold;
  border-top: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
}
.cal td a {
  clear: both;
  display: block;
  position: relative;
  width: 30px;
  line-height: 28px;
  color: #666;
  background-image: -webkit-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
  background-image: -moz-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
  background-image: -o-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
  background-image: linear-gradient(to bottom, #eaeaea, #e5e5e5 60%, #d9d9d9);
  -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}
.cal td a:hover, .cal td.off a {
  background: #f3f3f3;
}
.cal td.off a {
  color: #b3b3b3;
}
.cal td.active a, .cal td a:active {
  margin: -1px;
  color: #f3f3f3;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: #6dafbf;
  border: 1px solid #598b94;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}
.cal td.active:first-child a, .cal td:first-child a:active {
  border-left: 0;
  margin-left: 0;
}
.cal td.active:last-child a, .cal td:last-child a:active {
  border-right: 0;
  margin-right: 0;
}
.cal tr:last-child td.active a, .cal tr:last-child td a:active {
  border-bottom: 0;
  margin-bottom: 0;
}
.carousel-inner img{
width:100%;
}
.pagination i{
color:#486aaa !important;
}
.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}